<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI resume parser - By Advik {% block title_ext %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
</head>

<style>
    .chroma-animation {
        animation: chroma 2s linear infinite;
    }

    @keyframes chroma {
        0% { color: rgb(255, 0, 0); } /* Red */
        16.67% { color: rgb(255, 165, 0); } /* Orange */
        33.33% { color: rgb(255, 255, 0); } /* Yellow */
        50% { color: rgb(0, 128, 0); } /* Green */
        66.67% { color: rgb(0, 0, 255); } /* Blue */
        83.33% { color: rgb(75, 0, 130); } /* Indigo */
        100% { color: rgb(238, 130, 238); } /* Violet */
    }

    .chroma-animation p {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
</style>

<body>
    {% block content %}{% endblock %}    
</body>
</html>
