<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI resume parser - By Advik {% block title_ext %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.32.0/min/vs/loader.js"></script>
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.12.2/firebase-analytics.js";
      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries
    
      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyCPPeHtlFZeCOlN_yFeun5jyWMFNqKYTEo",
        authDomain: "resume-bot-ai.firebaseapp.com",
        projectId: "resume-bot-ai",
        storageBucket: "resume-bot-ai.appspot.com",
        messagingSenderId: "120926788938",
        appId: "1:120926788938:web:a34b7a792865ab412475b3",
        measurementId: "G-LNJ4CKJJLZ"
      };
    
      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>
</head>

<style>
    .chroma-animation {
        animation: chroma 2s linear infinite;
    }

    @keyframes chroma {
        0% { color: rgb(255, 0, 0); } /* Red */
        16.67% { color: rgb(255, 165, 0); } /* Orange */
        33.33% { color: rgb(255, 255, 0); } /* Yellow */
        50% { color: rgb(0, 128, 0); } /* Green */
        66.67% { color: rgb(0, 0, 255); } /* Blue */
        83.33% { color: rgb(75, 0, 130); } /* Indigo */
        100% { color: rgb(238, 130, 238); } /* Violet */
    }


    @keyframes chroma-border {
        0% { border-color: rgb(255, 0, 0); } /* Red */
        16.67% { border-color: rgb(255, 165, 0); } /* Orange */
        33.33% { border-color: rgb(255, 255, 0); } /* Yellow */
        50% { border-color: rgb(0, 128, 0); } /* Green */
        66.67% { border-color: rgb(0, 0, 255); } /* Blue */
        83.33% { border-color: rgb(75, 0, 130); } /* Indigo */
        100% { border-color: rgb(238, 130, 238); } /* Violet */
    }

    .chroma-b {
        animation: chroma-border 2s linear infinite;
    }

    #chroma-b {
        border: .2em solid;
        animation: chroma-border 2s linear infinite;
    }

    .chroma-animation p {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }
</style>

<body>
    {% block content %}{% endblock %}    
</body>
</html>
