{% extends "base.j2" %}

{% block title_ext %} | Upload Single file{% endblock %}

{% block content %}
    <div class="flex justify-center mt-10">
        <div class="text-center">
            <h1 class="text-4xl font-bold flex">Upload <div class="px-1 chroma-animation ">Single</div>Resume</h1>
            <p class="text-lg">Upload your resume and get the data extracted</p>
        </div>
    </div>
{% endblock %}
